* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  height: 50px;
  width: 100%;
  /* border: 1px solid blue; */
  position: relative;
}

.headerimg {
  width: 7%;
  height: 100%;
  /* border: 1px solid red; */
  background-color: bisque;

  box-sizing: border-box;
  display: inline-block;
}

.headerContent {
  height: 100%;
  width: 93%;
  background-color: bisque;
  display: inline-block;
  position: absolute;
  overflow: hidden;
  padding: 12px 10px;
}
.banner {
  height: 300px;
  /* width: 100%; */
  background-image: url("banner.jpg");
  background-size: 100% 100%;
  padding: 0;
}

.maincontent {
  width: 80%;
  height: 400px;
  /* border: 2px solid black; */
  border-radius: 5px;
  box-sizing: border-box;
  /* transform: translate(200px ); */
  margin: 10px auto;
}
.maincontent-1 {
  width: 50%;
  /* border: 1px solid red; */

  height: 100%;
  padding: 20px 20px;
  display: flex;
  box-sizing: border-box;
  float: left;
  text-align: justify;
  overflow: hidden;
}
.maincontent-2 {
  /* border: 1px solid red; */
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  float: left;
  background-image: url("download.jfif");
  background-repeat: no-repeat;
  background-size: 80% 100%;
  border-radius: 10px;
  padding: 30px;
}

.tablle {
  width: 50%;
  /* border: 1px solid red; */
  margin: auto auto;
}
.tablle table {
  border-collapse: collapse;
  justify-content: center;
  width: 100%;
}

.tablle table tr th,
td {
  padding: 10px;
}

.tablle table tr:nth-child(even) {
  background-color: lightblue;
}

.formm {
  margin: 10px auto;
}
.formm .form-group {
  margin: 10px 10px;
}
.formm label {
  font-weight: bold;
  color: blue;
}
.formm input,
textarea,
select {
  font-size: 20px;
  width: 50%;
  font-weight: lighter;
  text-align: center;
}

.form-group button {
  background-color: rgb(59, 130, 246);
  padding: 10px 45px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.formm select option {
  background-color: black;
  color: white;
}
